@media (min-width: 413px) and (max-width: 768px) {
    .nav-button {
        font-size: 1.30rem;
    }
    
    #home h1 {
        font-size: 4.1256rem;
    }

    h2 {
        font-size: 1.950rem;
    }

    h3, #home #slogan {
        font-size: 1.650rem;
    }

    .icons {
        height: 2.25rem;
        width: 2.25rem;
    }

    #see-projects a {
        font-size: 1.4256rem;
    }

    #technologies a {
        font-size: 1.2rem;
    }

    #projects .project-description,
    #projects .project-buttons-box a,
    #about-me #about-me-buttons-box a,
    #about-me .about-me-description,
    #about-me h3,
    #about-me p,
    #contact p,
    #contact #email-button,
    #technologies .technology-box p {
        font-size: 1.350rem;
    }
}

@media (min-width: 768px) and (max-width: 950px) {
    #nav {
        height: 3.90625rem;
        top: 0;
        border-radius: 0 0 0.625rem 0.625rem;
    }

    .nav-button {
        font-size: 1.5625rem;
    }

    #home {
        padding: 25vh 2.5vw 0;
    }
    
    #home h1 {
        font-size: 4.2975rem;
    }

    h2 {
        font-size: 2.03125rem;
    }

    h3, #home #slogan {
        font-size: 1.71875rem;
    }

    .icons {
        height: 2.25rem;
        width: 2.25rem;
    }

    #see-projects a {
        font-size: 1.485rem;
    }

    #technologies a {
        font-size: 1.333rem;
    }

    #projects .project-description,
    #projects .project-buttons-box a,
    #about-me #about-me-buttons-box a,
    #about-me .about-me-description,
    #about-me h3,
    #about-me p,
    #contact p,
    #contact #email-button,
    #technologies .technology-box p {
        font-size: 1.40625rem;
    }
}

@media (min-width: 950px) and (max-width: 1280px) {
    #nav {
        height: 3.90625rem;
        top: 0;
        border-radius: 0 0 0.625rem 0.625rem;
    }

    .nav-button {
        font-size: 1.5625rem;
    }

    #home {
        padding: 35vh 2.5vw 0;
    }

    #see-projects {
        padding: 3.158rem 2.5vw 28vh;
    }
    
    #home h1 {
        font-size: 4.2975rem;
    }

    h2 {
        font-size: 2.03125rem;
    }

    h3, #home #slogan {
        font-size: 1.71875rem;
    }

    .icons {
        height: 2.25rem;
        width: 2.25rem;
    }

    #see-projects a {
        font-size: 1.485rem;
    }

    #technologies a {
        font-size: 1.333rem;
    }

    #projects .project-description,
    #projects .project-buttons-box a,
    #about-me #about-me-buttons-box a,
    #about-me .about-me-description,
    #about-me h3,
    #about-me p,
    #contact p,
    #contact #email-button,
    #technologies .technology-box p {
        font-size: 1.40625rem;
    }
}

@media (min-width: 1280px) {
    #nav {
        /* height: 3.90625rem; */
        top: 0;
        border-radius: 0 0 0.625rem 0.625rem;
    }

    /* .nav-button {
        font-size: 1.5625rem;
    } */

    #home {
        padding: 23vh 2.5vw 0;
    }

    #see-projects {
        padding: 3.158rem 2.5vw 20vh;
    }
    
    #home h1 {
        font-size: 6.876rem;
    }

    h2 {
        font-size: 2.03125rem;
    }

    h3, #home #slogan {
        font-size: 1.71875rem;
    }

    .icons {
        height: 1.7rem;
        width: 1.7rem;
    }

    /* #see-projects a {
        font-size: 1.485rem;
    }

    #technologies a {
        font-size: 1.333rem;
    } */

    #projects #projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #projects .project-box {
        background: transparent;
    }

    #projects .project-preview {
        width: 42.5vw;
    }

    /* #projects .project-description,
    #projects .project-buttons-box a,
    #about-me #about-me-buttons-box a,
    #about-me .about-me-description,
    #about-me h3,
    #about-me p,
    #contact p,
    #contact #email-button,
    #technologies .technology-box p {
        font-size: 1.40625rem;
    } */

    #about-me #header {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
    }

    #about-me #about-me-buttons-box a {
        width: fit-content;
    }

    #about-me #about-me-buttons-box {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}