@import url('/assets/css/reset.css');
@import url('/assets/css/index-responsive.css');

/* Adicionando fontes */

@font-face {
    font-family: 'Black Delights';
    src: URL('../fonts/Black\ Delights.ttf') format('truetype');
}

/* Declarando variáveis para os temas */

:root, :root[data-theme='dark'] {
    --primary-bg-color: #1B1521;
    --secondary-bg-color: #251D2C;

    --title-color: #D41E45;
    --secondary-title-color: #ce95a1;
    --text-color: #B5AC01;
    --scroll-bar-color: #ecbb095a;
}

/* :root[data-theme='light'] {
    --primary-bg-color: #1B1521;
    --secondary-bg-color: #251D2C;

    --title-color: #D41E45;
    --text-color: #B5AC01;
    --scroll-bar-color: #ECBA09;
} */

html[data-theme='light'] .icons {
    filter: invert(1);
}

/* Estilizando elementos */

.icons {
    height: 1.5rem;
    width: 1.5rem;
}

h1 {
    font-size: 3.438rem;
    font-family: 'Black Delights', sans-serif;
    color: var(--title-color);
    margin: 0.688rem 0;
    font-weight: 300;
}

h2 {
    font-size: 1.625rem;
    color: var(--title-color);
    font-weight: 400;
    margin: 1.75rem 0;
}

h3 {
    font-size: 1.375rem;
    color: var(--text-color);
}

span {
    opacity: 60%;
}

#intro-description, .project-description, #about-description, .about-me-description, #experience-description, #contact-description {
    color: var(--text-color);
    font-size: 1.375rem;
}

/* Animando o nome */
span#name {
    opacity: 100%;
    font-family: 'Black Delights', sans-serif;
    background-image: linear-gradient(to right, var(--title-color)35%, var(--secondary-title-color) 50%, var(--title-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300%;

    animation: animatedName 3s infinite alternate;
}

@keyframes animatedName {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0%;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5vw;
} 

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 20px;
}

/* Nav */

#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    background-color: var(--text-color);
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 3.125rem;
    width: 100vw;
    border-radius: 0.625rem 0.625rem 0 0;
}

.nav-button {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--primary-bg-color);
    transition: all .5s ease;
}

.nav-button:hover {
    transform: scale(1.1);
    font-weight: 400;
}

/* Home */

section#home {
    background:
        linear-gradient(to bottom right, var(--primary-bg-color) 35%, var(--secondary-bg-color) 50%) bottom right,
        linear-gradient(to bottom left, var(--primary-bg-color) 35%, var(--secondary-bg-color) 50%) bottom left,
        linear-gradient(to top left, var(--primary-bg-color) 35%, var(--secondary-bg-color) 50%) top left,
        linear-gradient(to top right, var(--primary-bg-color) 35%, var(--secondary-bg-color) 50%) top right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3.813rem 2.5vw 0;
}

#home #intro {
    display: block;
    margin-bottom: 0.688rem;
}

#home #home-socials {
    display: flex;
}

#home-socials .icons {
    margin: 1.375rem 0 1.376rem;
}

/* See projects */
section#see-projects {
    background: linear-gradient(to bottom, var(--secondary-bg-color), var(--primary-bg-color));
    padding: 1.094rem 2.5vw 3.813rem;
}

#see-projects a {
    text-decoration: none;
    font-size: 1.188rem;
    color: var(--title-color);
    background-color: var(--secondary-bg-color);
    padding: 0.75rem 1.75rem;
    border-radius: 3.125rem;
    box-shadow: 0 0 0.188rem 0.125rem var(--title-color);
    transition: all .5s ease;
}

#see-projects a:hover {
    color: var(--secondary-bg-color);
    background-color: var(--title-color);
}

/* Technologies */

section#technologies {
    text-align: center;
}

#technologies h2 {
    margin: 3.5rem 0 1.75rem;
}

#technologies #technologies-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1.75rem;
}

#technologies .technology-box__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

#technologies p {
    margin: 0 0.5rem;
    color: var(--text-color);
}

#technologies a {
    font-size: 1rem;
    color: var(--text-color);
    opacity: 60%;
    text-decoration: none;
    transition: all .5s ease;
}

#technologies a:hover {
    opacity: 100%;
}

hr {
    border: 0;
    height: 2px;
    width: 70vw;
    color: var(--secondary-bg-color);
    background: var(--secondary-bg-color);
    margin-left: 15vw;
}

/* Projects */

section#projects {
    text-align: center;
    margin-bottom: 3.5rem;
}

#projects .project-box {
    margin-top: 1.75rem;
    background: linear-gradient(to bottom, var(--primary-bg-color) 0%, var(--secondary-bg-color) 50%, var(--primary-bg-color));
    padding: 0 2.5vw 0;
}

#projects .project-title {
    margin: 0.625rem 0;
}

#projects .left {
    text-align: left;
}

#projects .right {
    text-align: right;
}

#projects .project-preview {
    width: 95vw;
    border-radius: 10px;
    border: 0.188rem solid var(--text-color);
}

#projects .project-description {
    font-size: 1.125rem;
    text-align: justify;
    margin: 0.625rem 0;
    line-height: 2.188rem;
}

#projects .project-buttons-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

#projects .project-buttons-box:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    margin-bottom: 3.5rem;
}

#projects .project-buttons-box a {
    background-color: var(--secondary-bg-color);
    border: 0.125rem solid var(--title-color);
    border-radius: 3.125rem;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.438rem 1.5rem;
    color: var(--title-color);
    transition: all .5s ease;
}

#projects .project-buttons-box a:hover {
    background-color: var(--title-color);
    border: 0.125rem solid var(--title-color);
    color: var(--secondary-bg-color);
}

#projects #technologies__button {
    text-decoration: none;
    font-size: 1.188rem;
    color: var(--title-color);
    background-color: var(--secondary-bg-color);
    padding: 0.75rem 1.75rem;
    border-radius: 3.125rem;
    box-shadow: 0 0 0.188rem 0.125rem var(--text-color);
    transition: all .5s ease;
}

#projects #technologies__button:hover {
    color: var(--secondary-bg-color);
    background-color: var(--title-color);
}

/* About me */

section#about-me {
    margin: 1.75rem 0;
    padding: 0 2.5vw 0;
}

#about-me #header {
    display: grid;
    grid-template-columns: calc(100% / 3) calc((100% / 3) * 2);
}

#about-me #header img {
    width: 80%;
    border-radius: 100%;
}

#about-me #header h2 {
    margin: 0;
}

#about-me #header #about {
    justify-content: center;
}

#about-me .about-me-description, #experience-description {
    font-size: 1.125rem;
    line-height: 2.188rem;
    text-align: justify;
}

#about-me .about-me-buttons-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    margin-top: 0.5rem;
}

#about-me .about-me-buttons-box a {
    background-color: var(--secondary-bg-color);
    border: 0.125rem solid var(--title-color);
    border-radius: 3.125rem;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.438rem 1.5rem;
    color: var(--title-color);
    transition: all .5s ease;
    text-align: center;
}

#about-me .about-me-buttons-box a:hover {
    background-color: var(--title-color);
    border: 0.125rem solid var(--title-color);
    color: var(--secondary-bg-color);
}

#about-me #academic-description h2, #experience h2 {
    margin-bottom: 0.5rem;
}

/* Contact */

section#contact {
    text-align: center;
    align-items: center;
    margin-bottom: 5.313rem;
}

#contact h2 {
    margin-bottom: 1.75rem;
}

#contact #contact-socials {
    display: flex;
    justify-content: center;
}

#contact #contact-socials .socials-box {
    display: flex;
    justify-content: center;
    margin: 1.375rem 0;
}

#contact #contact-socials .icons {
    margin: 0 0.438rem 0 1.125rem;
}

#contact #contact-socials a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--text-color);
}

#contact #email-button {
    background-color: var(--secondary-bg-color);
    border: 0.125rem solid var(--title-color);
    border-radius: 3.125rem;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.438rem 1.5rem;
    color: var(--title-color);
    transition: all .5s ease;
}

#contact #email-button:hover {
    background-color: var(--title-color);
    border: 0.125rem solid var(--title-color);
    color: var(--secondary-bg-color);
}